#navbar-style {

    background: rgb(138, 125, 118);
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 15px;


}

.navbar-toggler {

    margin-right: 15px;
}

#brand-logo {

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 56px;
    color: #e73712;
    margin-top: -18px;
    margin-left: 7px;
}

#brand-border {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    border-style: solid;
    border-color: #e73712;
    border-width: 6px;
    height: 75px;
    width: 50px;
}

.navbar-nav {

    list-style: none;

}

.nav-item {

    display: inline;
    padding-right: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;

}

.nav-link {

    color: black;
}

a:link {

    color: black;
}

/* .left-side.col {

  display: none;


}

.group {


    display: none;


} */

#front-right {

    padding-top: 150px;

}

#case-study {

    font-family: "Arimo", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #e73712;
    border-width: 6px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;

}

#p1 {

    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Crimson Text", serif;
    font-size: 16px;
    text-align: center;


}

#p2 {

    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}

#explore-button {
    width: 160px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.btn.btn-primary {

    background: #e73712;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    border-color: #e73712;
    width: 160px;
    height: 50px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;


}

#map {

    width: 100%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;

}

.legend {

  display: none;

}

#data {

    margin-top: 180px;
    padding-top: 100px;
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(56,56,56,.8), rgba(56,56,56,.8)), url('../img/stockOfficeFlatLowRes2.jpg');

}

#data-heading {

    width: 200px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border-style: solid;
    border-color: #e73712;
    border-width: 6px;
}

#data-links  {

    width: 80%;
    margin-top: 50px;
    padding-bottom: 75px;
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;

}

.data-item {

    padding-bottom: 20px;

}

.data-item a {

    font-family: "Crimson Text", sans-serif;
    font-size: 18px;
    color: white;


}

#findings {

    width: 100%;
    height: auto;
}

#findings-left {

    margin-top: 170px;
    width: 100%;

}

#findings-heading {

    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #e73712;
    border-width: 6px;
    margin-bottom: 40px;
    width: 140px;

}

#select-col {

    margin-top: 20px;
    margin-bottom: 35px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

h4 {

    font-size: 18px;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;

}
@media (min-width: 1008px) {

  #navbar-style {

      margin-top: 30px;
      background: rgba(138, 125, 118, 0.5);
      color: black;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 160px;
      transition: background-color 200ms linear;

  }

  .navbar-toggler {

      margin-right: 15px;
  }

  #brand-logo {

      font-family: 'Barlow Condensed', sans-serif;
      font-size: 56px;
      color: #e73712;
      margin-top: -18px;
      margin-left: 7px;
  }

  #brand-border {

      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 15px;
      border-style: solid;
      border-color: #e73712;
      border-width: 6px;
      height: 75px;
      width: 50px;
  }

  .navbar-nav {

      list-style: none;

  }

  .nav-item {

      display: inline;
      padding-right: 10px;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 24px;

  }

  .nav-link {

      color: black;
  }

  a:link {

      color: black;
  }

  /* Container Element Styles */

  #error-image {

      width: 500px;
      height: 687px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      display: block;


  }

  /* .left-side.col {

    margin-left: -25px;
    margin-top: 95px;


  }

  .group {

      opacity: 0.50;


  } */

  #front-right {

      padding-top: 200px;


  }

  #case-study {

      font-family: "Arimo", sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 56px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
      border-style: solid;
      border-color: #e73712;
      border-width: 8px;
      width: 350px;
      margin: auto;

  }

  #p1 {

      width: 550px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 30px;
      font-family: "Crimson Text", serif;
      font-size: 24px;
      text-align-last: center;
      padding-left: 40px;


  }

  #p2 {

      width: 550px;
      margin-left: auto;
      margin-right: auto;
      font-family: "Arimo", sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-align-last: center;
      padding-left: 40px;

  }

  #explore-button {
      width: 160px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
  }

  .btn.btn-primary {

      background: #e73712;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 32px;
      font-weight: bold;
      color: white;
      border-color: #e73712;
      width: 160px;
      height: 50px;
      padding: 0;
      margin-left: 10px;


  }

  #data {

      margin-top: 180px;
      padding-top: 100px;
      height: auto;
      width: 100%;
      background: linear-gradient(rgba(56,56,56,.8), rgba(56,56,56,.8)), url('../img/stockOfficeFlatLowRes2.jpg');

  }


  #data-heading {

      width: 300px;
      margin-top: 100px;
      margin-left: 190px;
      padding: 20px;
      color: white;
      font-family: "Arimo", sans-serif;
      font-weight: bold;
      font-size: 38px;
      border-style: solid;
      border-color: #e73712;
      border-width: 8px;
  }


  #data-links  {

      width: 70%;
      margin-left: 175px;
      margin-top: 50px;
      padding-bottom: 75px;
      display: block;
      list-style: none;

  }

  .data-item {

      padding-bottom: 20px;
  }

  .data-item a {

      font-family: "Crimson Text", sans-serif;
      font-size: 32px;
      color: white;

  }


  #findings {

      width: 100%;
      height: auto;
      margin-left: -20px;

  }


  #findings-heading {

      font-family: "Arimo", sans-serif;
      font-weight: bold;
      font-size: 36px;
      text-align: center;
      margin-left: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-style: solid;
      border-color: #e73712;
      border-width: 8px;
      margin-bottom: 40px;
      width: 200px;

  }

  #findings-left {

      width: 50%;
      margin-top: 170px;

  }

  #select-col {

      width: 50%;
      margin-top: 170px;
      margin-bottom: 30px;
      padding-top: 10px;

  }

  h4 {

      font-size: 18px;
      font-family: "Arimo", sans-serif;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;

  }

  #map {

      width: 100%;
      height: 700px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;

  }

  .legend {
      display: block;
      padding: 0 10px 10px 10px;
      line-height: 18px;
      color: #555;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
  }

  #time-series {

      margin-top: 20px;
      margin-bottom: 100px;

  }

  .holder {

      position: relative;
      margin-top: 350px;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      height: 500px;
      background-color: rgb(0, 0, 0, 0.50);


  }



}
