<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drug Death Rates</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/leaflet.extra-markers.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arimo|Barlow+Condensed|Crimson+Text&display=swap" rel="stylesheet">

    <!-- The favicons because we have them now-->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/site.webmanifest">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>

<header>
  <!-- Navigation -->

  <nav id="navbar-style" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div id="brand-border">
      <a id="brand-logo" class="navbar-brand" href="/">A</a>
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#data">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#findings">Findings</a>
          </li>
        </ul>
      </div>
    </nav>

  <!-- end Navigation -->
</header>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <!-- .container -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
        <div id="home">
            <img id="group" src="../static/img/avengers404.png" width="576" height="560" alt="404 image.">
            <div id="front-right">
                <div class="title-borders"><h1 id="case-study">Case Study</h1></div>
                <div id="p1">
                  <p>Lorem ipsum dolor amet hot chicken umami kogi put a bird on it, man braid neutra wolf drinking. Vinegar freegan brooklyn four dollar toast.</p>
                </div>
                <div id="p2">
                  <p>Try-hard copper mug ethical, leggings brunch green juice vegan distillery semiotics.</p>
                </div>
                <div id="explore-button">
                  <button class="btn btn-primary" type="button">EXPLORE</button>
                </div>
            </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-12">
        <div id="data">
              <h2 id="data-heading"><span>Data Sources</span></h2>
              <ul id="data-links">
                <span>
                <li class="data-item"><a href="#">Beard bushwick actually, authentic XOXO ennui ramps tattooed. Live-edge master cleanse cardigan, wayfarers bicycle rights selvage hot chicken literally</a></li>
                <li class="data-item"><a href="#">Beard bushwick actually, authentic XOXO ennui ramps tattooed. Live-edge master cleanse cardigan, wayfarers bicycle rights selvage hot chicken literally</a></li>
                <li class="data-item"><a href="#">Beard bushwick actually, authentic XOXO ennui ramps tattooed. Live-edge master cleanse cardigan, wayfarers bicycle rights selvage hot chicken literally</a></li>
              </span>
              </ul>
              <img id="data-stock" src="../static/img/datasourcesstock.jpg">
        </div>
        </div>
    </div>
    

        
       
                
              
                
              
            
      
    
    
  </div>

  

  <!-- end .container -->




</body>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>
