<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="utf-8"/>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        
        <title>Map Selector</title>
        
        <!-- CSS for Mapbox -->
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
        
        <!-- CSS for #map section -->
        <link href="map.css" rel="stylesheet" type="text/css">
        
        <!-- JavaScript file for Mapbox API-->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    
    </head>
    
    <body>
        
        <div id='map'></div>
    
    </body>
    <script src="map.js"></script>


</html>